body {
    font-family: 'Fira Sans', sans-serif;
}


.mainlogo {
    text-align:center;
    margin:0 auto;
}

.logo {
    width: 15%;

}

.nav-link {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color:#301E67;
}


.nav-link:hover {
    color:#B6EADA;
}

.card-body {
    background-color:#5B8FB9;
    color:#301E67;
}

.btn-custom {
    background-color:#301E67;
    color: #ffffff;
}

footer {
    background-color: #301E67;
    color:#fff;
    margin-top: 25px;
    
}



.bi {
    color:#fff;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}


.p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

img {
    width: 70%;
    height: auto;

}

h2 {
    color: #301E67 !important;
}

.col-md-4 p {
    font-size: 14px !important;
    text-align: left !important;
}


.col-md-8 img {
    width: 240px;
}

.carousel-inner img {
    height: 650px;
}

.col-md-4 h3 {
    color:#301E67;
    text-align: left;
}

#carouselExample {
    margin-bottom: 100px;
}

.col-lg-4 p {
    color:#301E67;
}

.col-lg-4 h3 {
    color:#301E67;
}

.col-md-8 h3 {
    color:#301E67;
}
